<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel=stylesheet href="//fonts.googleapis.com/css?family=Open+Sans:400,700">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <div class=container>
    <div class="site-header clearfix" role=banner>
      <a href="/">
        <div class=site-logo>halleluja
          <span class=star>&#x2605;</span> nu
        </div>
      </a>
      <ul class="site-nav inline-block-list">
        <li><a href="/">Start</a></li>
        <li><a href="/sv/om">Om oss</a></li>
      </ul>
    </div>
  </div>
