---
layout: default
---

<div class="site-section">
  <div class="container">
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          {% for category in post.categories %} | <a href="{{ category | slugify }}">{{ category}}</a> {% endfor %}

          <p>{{ post.excerpt }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
