<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel=stylesheet href="//fonts.googleapis.com/css?family=Open+Sans:400,700">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <div class=container>
    <div class="site-header clearfix" role=banner>
      <a href="/">
        <div class=site-logo>halleluja
          <span class=star>&#x2605;</span> nu
        </div>
      </a>
      <ul class="site-nav inline-block-list">
        <li><a href="/">Start</a></li>
        <li><a href="/om">Om oss</a></li>
      </ul>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <ul class="post-list">

        <li>
          <h2>
            <a class="post-link"
              href="/undervisning-fran-bibeln/2017/5/19/simul-justus-et-peccator-samtidigt-syndare-och-rattfardig">Simul
              justus et peccator - samtidigt syndare och rättfärdig</a>
          </h2>

          <span class="post-meta">May 19, 2017</span>
          | <a href="undervisning-fran-bibeln">Undervisning från bibeln</a>

          <p>
          <p>En av Martin Luthers mer centrala begrepp är <em>simul justus et peccator</em>, synsättet att människan
            även i sitt försonade tillstånd då hon är <em>rättfärdiggjord</em> inför Gud fortfarande på samma gång är en
            syndare. I denna artikel tänkte jag vi skulle titta lite närmare på detta.</p>
          </p>
        </li>
      </ul>
    </div>
  </div>

  {{include 'includes/footer.hbs'}}

  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
