{{include '_includes/header.hbs'}}

<div class="site-section">
  <div class="container" style="text-align: left;">
    <div>
      Please select language / Välj språkversion för sidan
    </div>

    <div style="margin-top: 1rem;">
      <a href="/sv">Svenska (Swedish)</a> |
      <a href="/en">English</a>
    </div>
  </div>
</div>

{{include '_includes/footer.hbs'}}
