{{include '_includes/header.hbs'}}

<div class="site-section">
  <div class="container">
    <ul class="post-list">

      <li>
        <h2>
          <a class="post-link"
            href="/undervisning-fran-bibeln/2017/5/19/simul-justus-et-peccator-samtidigt-syndare-och-rattfardig">Simul
            justus et peccator - samtidigt syndare och rättfärdig</a>
        </h2>

        <span class="post-meta">May 19, 2017</span>
        | <a href="undervisning-fran-bibeln">Undervisning från bibeln</a>

        <p>
        <p>En av Martin Luthers mer centrala begrepp är <em>simul justus et peccator</em>, synsättet att människan
          även i sitt försonade tillstånd då hon är <em>rättfärdiggjord</em> inför Gud fortfarande på samma gång är en
          syndare. I denna artikel tänkte jag vi skulle titta lite närmare på detta.</p>
        </p>
      </li>
    </ul>
  </div>
</div>

{{include '_includes/footer.hbs'}}
